[mgr]
ratio = [1, 4, 3]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
linemode = "size"
show_hidden = false
show_symlink = true

[preview]
tab_size = 2
max_width = 600
max_height = 900
image_filter = "triangle"
image_quality = 75
sixel_fraction = 15

[opener]
edit = [
  { run = 'nvim "$@"', block = true, for = "unix" },
]
open = [
  { run = 'open "$@"', for = "macos" },
]

[open]
rules = [
  { name = "*/", use = ["edit", "open"] },
  { mime = "text/*", use = ["edit"] },
  { mime = "image/*", use = ["open"] },
  { mime = "video/*", use = ["open"] },
  { mime = "audio/*", use = ["open"] },
  { mime = "application/json", use = ["edit"] },
  { mime = "*/javascript", use = ["edit"] },
  { mime = "*", use = ["open"] },
]
